[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ALDEx2"]
	path = ALDEx2
	url = https://github.com/ggloor/aldex_bioc
	shallow = true
	registered = true
